.root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.card {
  width: 100%;
  max-width: 520px;
  padding: 1rem;
  border-radius: 10px;
}
.hero {
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}
.form {
  padding-top: 0.5rem;
}
.center {
  display:flex;align-items:center;justify-content:center;width:100%;
}
