.button {
  position: relative;
}

.iconBase {
  height: 1.25rem;
  transition: transform 200ms ease, opacity 200ms ease;
  width: 1.25rem;
}

.sunIcon {
  transform: rotate(0deg) scale(1);
}

.button[data-theme-mode='dark'] .sunIcon {
  opacity: 0;
  transform: rotate(-90deg) scale(0.6);
}

.moonIcon {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg) scale(0.6);
}

.button[data-theme-mode='dark'] .moonIcon {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
